<!--View Information-->
<!--View name : Dropbox Login -->
<!--Controller name : dropboxLoginCtrl-->
<!--Controller path : www/templates/social-network-connect/dropbox/js/controllers.js-->
<!--State name : app.dropboxLogin-->
<!--URL : #app/dropboxLogin-->

<ion-view title="Dropbox Connect">
    <!--login content section-->
    <ion-content scroll="false" id="social-login">
        <form>

            <div>
                <i class="fa fa-dropbox dropbox-color"></i>
            </div>
            <div class="sub-header">Connect data with dropbox.</div>

            <div class="ng-hide" ng-show="isLogin">
                <a class="md-raised social-button md-button md-default-theme dropbox-color-background"
                   ng-click="goToUserProfile()">
                    GO TO DROPBOX APP
                </a>
            </div>

            <div class="ng-hide" ng-show="!isLogin">
                <a class="md-raised social-button md-button md-default-theme  dropbox-color-background"
                   ng-click="login()">
                    LOG IN WITH DROPBOX
                </a>
                <br/>
                <a href="#/app/fakeSignUp" class="md-raised md-button md-default-theme social-default-button">SIGN
                    UP</a>
                <a href="#/app/tryApp" class="md-raised md-button md-default-theme social-default-button">TRY APP</a>

                <div class="footer">Already have an account? <a href="#/app/fakeLogin">Sign In</a>
                </div>
            </div>
        </form>

    </ion-content><!--end login content section-->
</ion-view>