<!--View Information-->
<!--View name : google Plus Login-->
<!--Controller name : googlePlusLoginCtrl-->
<!--Controller path : www/templates/social-network-connect/google-plus/js/controllers.js-->
<!--State name : app.googlePlusLogin-->
<!--URL : #app/googlePlusLogin-->

<ion-view title="Google Plus Connect">
    <!--login content section-->
    <ion-content scroll="false" id="social-login">
        <form>

            <div>
                <i class="fa fa-google-plus google-plus-color"></i>
            </div>
            <div class="sub-header">Connect data with google plus.</div>

            <div class="ng-hide" ng-show="isLogin">
                <a class="md-raised social-button md-button md-default-theme google-plus-color-background"
                   ng-click="goToUserProfile()">
                    GO TO GOOGLE PLUS APP
                </a>
            </div>

            <div class="ng-hide" ng-show="!isLogin">
                <a class="md-raised social-button md-button md-default-theme  google-plus-color-background"
                   ng-click="login()">
                    LOG IN WITH GOOGLE PLUS
                </a>
                <br/>
                <a href="#/app/fakeSignUp" class="md-raised md-button md-default-theme social-default-button">SIGN
                    UP</a>
                <a href="#/app/tryApp" class="md-raised md-button md-default-theme social-default-button">TRY APP</a>

                <div class="footer">Already have an account? <a href="#/app/fakeLogin">Sign In</a>
                </div>
            </div>
        </form>

    </ion-content><!--end login content section-->
</ion-view>