<!--View Information-->
<!--View name : Catalog-->
<!--Controller name : catalogCtrl-->
<!--Controller path : www/templates/themes/catalog/js/controllers.js-->
<!--State name : app.catalog-->
<!--URL : #app/catalog-->

<ion-view title="Material Shop">
    <!--slide catalog section-->
    <ion-slide-box id="slide-catalog-content" active-slide="0">
        <!--slide section-->
        <ion-slide>
            <!--pin section-->
            <div class="pin" ng-click="showConfirmDialog($event)">
                <img ng-src="{{'img/shirt_01.png'}}"/>

                <h1>Plain Shirt</h1>

                <p>
                    A shirt with plain design.
                </p>

                <div class="pin-footer">
                    $<span class="pin-footer text-left font-sale">590</span>
                    <span class="pin-footer text-left font-hot-sale">$59</span>
                </div>
            </div><!--end pin section-->
        </ion-slide>
        <ion-slide>
            <!--pin section-->
            <div class="pin" ng-click="showConfirmDialog($event)">
                <img ng-src="{{'img/shirt_02.png'}}"/>

                <h1>Spring Shirt</h1>

                <p>
                    A shirt with spring design.
                </p>

                <div class="pin-footer">
                    $<span class="pin-footer text-left font-sale">390</span>
                    <span class="pin-footer text-left font-hot-sale">$39</span>
                </div>
            </div> <!--end pin section-->
        </ion-slide>
        <ion-slide>
            <!--pin section-->
            <div class="pin" ng-click="showConfirmDialog($event)">
                <img ng-src="{{'img/shirt_04.png'}}"/>

                <h1>Plain Shirt</h1>

                <p>
                    A shirt with plain design.
                </p>

                <div class="pin-footer">
                    $<span class="pin-footer text-left font-sale">390</span>
                    <span class="pin-footer text-left font-hot-sale">$39</span>
                </div>
            </div> <!--end pin section-->
        </ion-slide>
        <ion-slide>
            <!--pin section-->
            <div class="pin" ng-click="showConfirmDialog($event)">
                <img ng-src="{{'img/shirt_06.png'}}"/>

                <h1>Spring Shirt</h1>

                <p>
                    A shirt with spring design.
                </p>

                <div class="pin-footer">
                    $<span class="pin-footer text-left font-sale">390</span>
                    <span class="pin-footer text-left font-hot-sale">$39</span>
                </div>
            </div> <!--end pin section-->
        </ion-slide>
        <ion-slide>
            <!--pin section-->
            <div class="pin" ng-click="showConfirmDialog($event)">
                <img ng-src="{{'img/shirt_02.png'}}"/>

                <h1>Plain Shirt</h1>

                <p>
                    A shirt with plain design.
                </p>

                <div class="pin-footer">
                    $<span class="pin-footer text-left font-sale">390</span>
                    <span class="pin-footer text-left font-hot-sale">$39</span>
                </div>
            </div> <!--end pin section-->
        </ion-slide>
        <ion-slide>
            <!--pin section-->
            <div class="pin" ng-click="showConfirmDialog($event)">
                <img ng-src="{{'img/shirt_01.png'}}"/>

                <h1>Spring Shirt</h1>

                <p>
                    A shirt with spring design.
                </p>

                <div class="pin-footer">
                    $<span class="pin-footer text-left font-sale">390</span>
                    <span class="pin-footer text-left font-hot-sale">$39</span>
                </div>
            </div> <!--end pin section-->
        </ion-slide>
        <!--end slide section-->
    </ion-slide-box><!--end slide catalog section-->

</ion-view>
