<!--View Information-->
<!--View name : Facebook Login-->
<!--Controller name : facebookLoginCtrl-->
<!--Controller path : www/templates/social-network-connect/facebook/js/controllers.js-->
<!--State name : app.facebookLogin-->
<!--URL : #app/facebookLogin-->

<ion-view title="Facebook Connect">
    <!--login content section-->
    <ion-content scroll="false" id="social-login">
        <form>

            <div>
                <i class="fa fa-facebook facebook-color"></i>
            </div>
            <div class="sub-header">Connect data with facebook.</div>

            <div class="ng-hide" ng-show="isLogin">
                <a class="md-raised social-button md-button md-default-theme facebook-background"
                   ng-click="goToUserProfile()">
                    GO TO FACEBOOK APP
                </a>
            </div>

            <div class="ng-hide" ng-show="!isLogin">
                <a class="md-raised social-button md-button md-default-theme facebook-background" ng-click="login()">
                    LOG IN WITH FACEBOOK
                </a>
                <br/>
                <a href="#/app/fakeSignUp" class="md-raised md-button md-default-theme social-default-button">SIGN
                    UP</a>
                <a href="#/app/tryApp" class="md-raised md-button md-default-theme social-default-button">TRY APP</a>

                <div class="footer">Already have an account? <a href="#/app/fakeLogin">Sign In</a>
                </div>
            </div>
        </form>

    </ion-content><!--end login content section-->
</ion-view>