<!--View Information-->
<!--View name : Facebook Feed -->
<!--Controller name : facebookFeedCtrl-->
<!--Controller path : www/templates/social-network-connect/facebook/js/controllers.js-->
<!--State name : app.facebookFeed-->
<!--URL : #app/facebookFeed-->

<ion-view title="Facebook feed">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--social feed content section-->
    <ion-content id="social-feed-content">

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>

        <!--social card section-->
        <md-card ng-repeat="item in feedList" class="social-card">
            <md-card-content>
                <md-list-item class="md-2-line md-no-proxy" role="listitem">
                    <img ng-src="https://graph.facebook.com/{{ item.from.id }}/picture"
                         class="md-avatar">

                    <div class="md-list-item-text">
                        <h3>{{item.from.name}}</h3>

                        <p>{{item.created_time | date:"short" }}</p>
                    </div>
                </md-list-item>
                <p ng-show="item.message != null ?  true : false">{{item.message}}</p>

                <p ng-show="item.link != null && item.message == null ?  true : false">was shared: {{item.link}}</p>
            </md-card-content>
            <!--social card image section-->
            <div class="social-card-image">
                <img ng-src="{{item.full_picture}}"
                     ng-show="item.full_picture != null ?  true : false"
                     class="ng-hide">
            </div><!--end social card image section-->

            <!--social card footer section-->
            <div class="social-card-footer">
                <div class="row-content" layout="row">
                    <div class="col-33">
                        {{item.likes.summary.total_count | numberSuffix}} <span>Likes</span>
                    </div>
                    <div class="col-33">
                        {{item.comments.summary.total_count | numberSuffix}} <span>Comments</span>
                    </div>
                    <div class="col-33">
                        {{ item.shares != null ? item.shares.count : 0 | numberSuffix }} <span>Shared</span>
                    </div>
                </div>
            </div><!--end social card footer section-->
        </md-card><!--end social card section-->

        <ion-infinite-scroll ng-if="!paging.shouldLoadData"  on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content><!--end social feed content section-->
</ion-view>