<!--View Information-->
<!--View name : Instagram Login-->
<!--Controller name : instagramLoginCtrl-->
<!--Controller path : www/templates/social-network-connect/instagram/js/controllers.js-->
<!--State name : app.instagramLogin-->
<!--URL : #app/instagramLogin-->

<ion-view title="Instagram Connect">
    <!--login content section-->
    <ion-content scroll="false" id="social-login">
        <form>

            <div>
                <i class="fa fa-instagram instagram-color"></i>
            </div>
            <div class="sub-header">Connect data with instagram.</div>

            <div class="ng-hide" ng-show="isLogin">
                <a class="md-raised social-button md-button md-default-theme  instagram-color-background"
                   ng-click="goToUserProfile()">
                    GO TO INSTAGRAM APP
                </a>
            </div>

            <div class="ng-hide" ng-show="!isLogin">
                <a class="md-raised social-button md-button md-default-theme  instagram-color-background"
                   ng-click="login()">
                    LOG IN WITH INSTAGRAM
                </a>
                <br/>
                <a href="#/app/fakeSignUp" class="md-raised md-button md-default-theme social-default-button">SIGN
                    UP</a>
                <a href="#/app/tryApp" class="md-raised md-button md-default-theme social-default-button">TRY APP</a>

                <div class="footer">Already have an account? <a href="#/app/fakeLogin">Sign In</a>
                </div>
            </div>
        </form>

    </ion-content><!--end login content section-->
</ion-view>